@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

#chat_panel{
    display: block;
    font-family: 'Helvetica Neue','Roboto';
    height:500px;
    position: relative;
    border: 1px solid #0b354c;
}
div#suggestionList {
    position: relative;
}
#chatTabs li a {
    padding: 0px 10px;
}

ul#chatTabs {
    border-bottom: 0px !important;
    width: auto;
    float: left;
}
.chatbody { background:#FAFAFA; }
.chatTime {     
    width: 100%;
    float: left; 
}
.panel-footer {
    padding-bottom: 0px;
    position: absolute;
    bottom: 0;
    width:100%;
}
.panel-primary {
    border-color:none;
}
.chattab-content {
    padding-top:5px; 
}
.quest_panel {
    whitespace: nowrap;
    height: 100%;
}
.cals{
    text-align: center;
}
.cals button{
    margin: 10px 15px;
}
.rdm .form-group, .calci .form-group {
    margin-bottom: 5px;
}
.rdm .form-control, .calci .form-control{
    height:25px;
}
.rdm, .calci{
    margin: 10px;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
}
.calci hr {
    margin-top: 10px;
    margin-bottom: 0px;
}
.calci{
    padding:0;
}
.calci .panel-body{
    height:auto;
    padding-top: 5px;
    padding-bottom: 5px;
}
li.ui-menu-item {
    padding: 0px 3px;
}
li.ui-menu-item:hover , li.ui-menu-item.active {
    background: #003874 !important;
    color: #fff !important;
}
li.ui-menu-item:hover > .highlighted , li.ui-menu-item.active > .highlighted
{ color:#fff !important; }
li.ui-menu-item {
    padding-bottom:5px;
}
.thumbsup , .thumbsdown {
    cursor:pointer;
}
.thumbsIcon
{
    position: relative;
    z-index: 0;
    top: -5px;
    font-family: "Roboto-Light";
    // float: right;
}
.chatbottomtext { 
    font-size: 12px;
    color: #ED6D05;
}
// .animate_fade.ng-enter {
//     transition:2.5s linear all;
//     opacity:0;
//     display:none;
// }
// .animate_fade.ng-enter.ng-enter-active {
//     // transition:0.0s linear all;
//     opacity:1;
//     display:block;
// }
.animate_fade.ng-move,
.animate_fade.ng-enter,
.animate_fade.ng-leave {
  transition:all linear 2.0s;
}

.animate_fade.ng-leave.ng-leave-active,
.animate_fade.ng-move,
.animate_fade.ng-enter {
  opacity:0;
}

.animate_fade.ng-leave,
.animate_fade.ng-move.ng-move-active,
.animate_fade.ng-enter.ng-enter-active {
  opacity:1;
}
.loader_msg { font-style: italic; }
#firstMsg { font-size: 10px; }
.loader_msg { color:#fff; }
.beta {
    font-weight: bold;
    font-style: italic;
    color: #3d3939;
}
#chat_window_1 {  
    position: fixed;
    bottom: 0;
    right:0px;
    width: 100%;
}
.profileDetail span { 
    font-weight:bold;
    color:#204d74;
}
button.headerbtns {
    margin-top: 8px;
    margin-left:20px;
}
button.headerbtns:focus { background-color: #003874; outline: none; }
.autolist .highlighted { 
    color:#000;
    font-weight:bold;
 }
.calculator>.panel-heading {
            color: #00415d;
            background-color: #fff;
            border-color: #fff;
            text-align:center;
            padding-bottom: 5px;
        }
        .calculator>.panel-heading a{
            text-decoration: none;
            color: #666;
            font-weight: bold;
            font-size: 15px;
            transition: all 0.1s linear;
        }
        .calculator>.panel-heading a.active{
            color: #337ab7;
            font-size: 18px;
        }
.overlay{
    overflow-y:scroll;
}
.data-box{
    position: absolute!important;
    left: 50%!important;
    top: 50px!important;
    -webkit-transform: translateX(-50%)!important;
            transform: translateX(-50%)!important;
    margin-bottom:50px !important;
}
.imglink{
    cursor:pointer;
    text-decoration:underline;
    color:blue;
}

#next{
position:absolute;
top:49%;
right:-20px;
z-index:999;
}
#prev{
position:absolute;
z-index:999;
top:49%;
left:-20px;
}
.carousel_item img{
height:100px;
width:90%;
}
.item-image{
    height: 100px;
    width: 100px;
}
.ionwelcome {
    margin-top: 8px;
}
.ionwelcome img {
    width: 32px;
    float:left;
    margin-right:5px; 
}
.ionwelcome p { font-size: 13px;font-family: "Roboto-Light"; }
.chatinput {
    border-radius: 5px !important;
    height: 24px;
    width:93% !important;
    border: 0px !important;
}
.chatinputgroup {
    width: 100%;
}
.chatinputgroup .input-group-addon {
    cursor:pointer;
    width: 45px;
    padding:1px 2px !important;
}
.chatinputgroup .input-group-addon i.fa { font-size: 20px;}
.panel-primary {
    border-color: #0b354c;
}
.chatinputgroup .hover_effect
{
    // transform:scale(1.3,1.3);
    // -webkit-transform:scale(1.3,1.3);
    // -moz-transform:scale(1.3,1.3);
    background:#003874;
}
.chatinputgroup .hover_effect i {
    color:#fff;
    transform:scale(1.3,1.3);
    -webkit-transform:scale(1.3,1.3);
    -moz-transform:scale(1.3,1.3);
 }
.panel-primary>.panel-heading {
    color: #fff;
    background-color: #ED6D05;
    border-color: #ED6D05;
    font-family: "Roboto-Light";
}
.btn-group .btn-default {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}

.panel-body{
background-color: #fafafa;
}
.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}
.chat li {
    position: relative;
}
.clickImage{
    /*display:none;*/
    width: auto;
    height: 140px;
    // margin: auto;
    // position: absolute;
    z-index: 10;
    // right: -70px;
    // bottom: -25px;
    cursor:pointer;
}
.redtext { color:red; }
.chat-body .dthyperlink {
    cursor: pointer;
    text-decoration: underline;
    background: #eee;
    color: #1e90ff;
    font-style: italic;
    padding: 0.5em 0.5em;
    margin-bottom: 0.2em;
    border-radius: 5px;
    }
.left .chat-img{
    margin-left: -8px;
    margin-top: 10px;
    position: absolute;
    left: 0px;
}
.right .chat-img{
    margin-right: -8px;
    margin-top: 10px;
    position: absolute;
    right: 0px;
}
.right .chat-img img {
    width: 35px !important;
    height: 35px !important;
}
.chat-body{
/*    box-shadow: 0px 1px 1px 2px rgba(0,0,0,0.1);*/
    padding: 0.5em 1em;
    border-radius: 8px;
    margin: 0.5em 2em 0.1em;
    position:relative;
    top: 5px;
}
.right .chat-body{
    background: #EF9C6D;
    color: #fff;
    border-top-right-radius: 0em;
    box-shadow: -1px 1px 1px 0px rgba(0,0,0,0.4);
    display: table;
    float: right;
    right: 11px;
    font-family:"Roboto-Light";
    font-size: 12px;
}
.chatbody .panel-footer { width:100% !important; background-color: #1B1918;border-radius: 5px; }
.left .chat-body:before{
    content: "";
    position: absolute;
    top: 0px;
    left: -10px;
    width: 0;
    height: 0;
    border: 5px solid #B7A9A2;
    border-left-color: transparent;
    border-bottom-color: transparent;
}
.right .chat-body:before{
    content: "";
    position: absolute;
    top: 0px;
    right: -10px;
    width: 0;
    height: 0;
    border: 5px solid #EF9C6D;
    border-right-color: transparent;
    border-bottom-color: transparent;
}
.left .chat-body {
    border-top-left-radius: 0em;
    background: #B7A9A2;
    color:#000;
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.4);
    display: table;
    left: 23px;
    font-family:"Open Sans";
    font-size: 12px;
}
.logoutbutton {
    background: #a9a9a9;
    color:#000 !important;
}
.faqques a { color:#fff !important; }
.left .chat-body a { color: #fff; }
.chat li .chat-body p
{
    margin: 0;
    /*color: #777777;*/
}
.chat-img img{
    width:45px!important;
    height:45px!important;
}
.panel-footer .form-group { margin-bottom:0px; }
p.footertext {
    color: #fff;
    margin-bottom: 0px;
    font-family: "Roboto-Light";
    text-align: right;
    font-size: 11px;
    margin-top: 4px;
}
#language_list {
    border: 1px solid #ED6D05;
    padding: 0px 2px;
    height: 21px;
    border-radius: 5px;
    margin-left: 2px;
    font-family: "Roboto-Light";
    font-size: 13px;
    background: #f2eeee;
    z-index: 9999;
}
.languagebar {
    // position: absolute;
    // right: 10px;
    // width: 100%;
    // top: 11px;
    margin-top:10px;
}
a.cingularititext {
    color: #ED6D05;
    text-decoration: none;
}
.instruction-slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.img-box
{
    height: 100px;
    width: 100px;
}
.text-box span {
    font-size:10px;
}
.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}
div#all_questions {
    margin-top: 10px;
    padding-top: 10px;
    height: 320px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #EF9C6D;
    font-family: "Roboto-Light";
}
div#all_questions a { color:#fff;    font-size: 12px; }
.questions hr { background-color: #C0C0C0;margin: 10px 0; }
.categorybreadcrumb {
    // background-color: #f5f5f5; 
    // height: 10px;
    background-color: transparent;
    margin-bottom: 0px;
    padding: 4px 0;
}
.categorybreadcrumb > li:after {
    content: "> ";
}
.categorybreadcrumb li:first-child a {
    color:#ED6D05;
}
.categorybreadcrumb li:first-child {
    float: left;
    padding-top: 1px;
    font-family: "Roboto-Light";
}
select#faqs_category { border: 1px solid #ED6D05; 
    padding: 0px 2px;
    height: 21px;
    border-radius: 5px;
    margin-left:2px; 
    font-family: "Roboto-Light";
    font-size: 13px;
    background: #f2eeee;
 }
ol.quesList { padding-left:15px; }
.quesList li {
    color:#fff;
}
.faqans { color: #000 !important; }
.panel-body
{
    padding-top: 0px;
    overflow-y: auto;
    height: 340px;
}
.process_buttons {
    background: #eee;
    padding-top: 5px;
    padding-bottom: 5px;
} 
.process_btngroup .processbtn {
    background: #fff;
    padding: 3px;
    border-radius: 7px;
    color: #ED6A0B;
    border: 1px solid #ED6A0B;
}
ul.querybtns li {
    list-style-type: none;
    margin-bottom: 5px;
}
ul.querybtns {
    padding-left: 0px !important;
}
button.btn.q_btn {
    background: #ED6D05;
    color: #fff;
    border-radius: 5px;
    width: 210px;
}
.chatbody2 {
    height: 455px;
    border-left: 1px solid #000;
}
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
    /*transition: all 0.8s ease;
     -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;*/
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
.loading{
	margin-top:-10px;
}
.loading:after {
  content: ' .';
  font-size: 1.5em;
  -webkit-animation: dots 1s steps(5, end) infinite;
          animation: dots 1s steps(5, end) infinite;}

@-webkit-keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: black;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 black,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 black,
      .5em 0 0 black;}}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: black;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 black,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 black,
      .5em 0 0 black;}}
