*, :before, :after { box-sizing: border-box; }

html{ margin-top: 1px; height: 100%; }
body { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; color: #333; }

.hide { display: none; }
.clear { clear: both; }


.chat-container { width:  380px; height: 350px; position: fixed; border: 1px solid red; bottom: 0; right: 20px; }
.chat-container iframe { width: 100%; height: 100%; border: none; }

.chat-box img { max-width: 80%; margin: 10px; border: 2px solid #88aaee; }


.overlay { position: fixed; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0, 0, 0, 0.6); }
.data-box { min-width: 100px; min-height: 100px; padding: 30px; position: fixed; left: 50%; top: 50%; transform: translate(-50%, -50%); background: #fff; }
.data-box img { max-width: 100%; }
.close { position: absolute; right: 0px; top: 0px; padding: 5px; background: #000; color: #fff; cursor: pointer; font-size: 24px; line-height: .5; }


/* Auto suggested options in chat input */
.char-input { border: 1px solid #ddd; position: fixed; left: 0px; right: 0px; bottom: 0px; border-top: 1px solid #ddd; }
.char-input input[type='text'] { width: 100%; float: left; padding: 10px;  border: none; outline: none; }

.ui-autocomplete-loading { background: white url("../images/ui-loading.gif") 98% center no-repeat; }
#suggestionList .ui-widget.ui-widget-content { position: absolute; bottom: -31px; top: auto !important; }

.typing-text { font-size:11px; color:#333; visibility: hidden; margin-bottom: 5px; }






