<div id="chat_window_1" ng-controller="ChatCtrl"  >
        <div class="panel panel-primary " id="chat_panel" >
            <div class="panel-heading container-fluid" id="accordion">
                <span class="glyphicon glyphicon-comment"></span> Chat <sup class="beta">Beta</sup>
                
                <div class="btn-group pull-right">
                    <!-- <button ng-if="isLoggedin" class="btn btn-xs logoutbtn" ng-click="logout();">Logout </button> -->
                    <a type="button" class="btn btn-default btn-xs hidden" href="#">
                        <span id="minim_chat_window " class="glyphicon glyphicon-minus icon_minim"></span>
                    </a>
                    <!-- <a type="button" class="btn btn-default btn-xs" ng-click="minimizeChatwindow();" href="#">
                        <span class="glyphicon glyphicon-remove icon_close" data-id="chat_window_1"></span>
                    </a> -->
                </div>
            </div>
            <div class="container-fluid chatbody" >
                <!-- <div class="row" ng-if="!isLoggedin">
                    <div class="col-sm-6 col-sm-offset-3 col-xs-12">
                        <div class="login">
                            <div class="login-container">
                                <h1 class="text-center">Login to Chat</h1><br>
                                <form id="login_form" name="login_form">
                                    <div class="form-group">
                                        <input class="form-control username" id="username" type="text" name="username" placeholder="Username" ng-model="user.name" required>
                                        <div class="pull-right" ng-repeat="(field,value) in login_form.username.$error" ng-show="login_form.username.$touched">
                                            <span class="label label-danger" ng-if="field=='required' && value">Please Enter Username</span>
                                        </div>
                                        <input class="form-control userpassword" type="password" name="userpassword" id="userpassword" placeholder="Password" ng-model="user.password" required>
                                        <div class="pull-right" ng-repeat="(field,value) in login_form.userpassword.$error" ng-show="login_form.userpassword.$touched">
                                            <span class="label label-danger" ng-if="field=='required' && value">Please Enter Password</span>
                                        </div>
                                        <select id="language_list" name="language_list"  ng-options="cat as cat.name for cat in languagelist" ng-model="selectedLanguage" class="form-control"  required>
                                    
                                        </select>
                                        <div class="pull-right" ng-repeat="(field,value) in login_form.language_list.$error" ng-show="login_form.language_list.$touched">
                                             <span class="label label-danger" ng-if="field=='required' && value">Please Select  Language</span>
                                        </div>
                                        <div class="pull-right"  ng-if="loginerror==-1">
                                            <span class="label label-danger">Please Enter Valid username/Password</span>
                                        </div>
                                        <div class="pull-right"  ng-if="!isLoggedin">
                                            <span class="label label-danger">Please Login To Continue</span>
                                        </div>
                                        <input class="form-control" id='login' type="submit" name="login" ng-disabled="login_form.$invalid"  class="btn btn-primary btn-lg btn-block" value="Login" ng-click="login(user.name,user.password,selectedLanguage);">
                                    </div>
                                </form>
                           
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="row" >
                    <div  class="quest_panel col-md-5 col-xs-4">
                        <div class="row">
                            <div class="col-md-12 ionwelcome">
                                <p>
                                    <img src="img/logo.jpg" class="img-responsive">
                                    <span comp-translate="Welcome to ION. Your virtual assistant is ready."></span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="breadcrumb categorybreadcrumb">
                                    <li><a href="#" id="faq"> FAQ </a></li>
                                    <select id="faqs_category"  ng-change="getCategoryQuestions(selectedCategory);" ng-options="cat as cat.name for cat in categorylist" ng-model="selectedCategory" class="col-md-8"  >
                                    
                                    </select> 
                                    <!-- <li class="tmpcategory" ng-if="selectedCategory.id != 'default'" ><span comp-translate ="{{selectedCategory.name}}"></span></li> -->
                                </ul>
                            </div>
                        </div>
                        <div id="faqs_dropdown" class="row">
                            <div class="col-md-12">
                                <!-- <select id="faqs_category"  ng-change="getCategoryQuestions(selectedCategory);" ng-options="cat as cat.name for cat in categorylist" ng-model="selectedCategory" class="col-md-8"  >
                                    
                                </select>  -->
                                <!-- <select id="faqs_category"  ng-change="getCategoryQuestions(selectedCategory);"  ng-model="selectedCategory" class="form-control"  >
                                    <option ng-repeat="cat in categorylist" value="{{selectedCategory}}" comp-translate="{{cat.name}}">
                                        
                                    </option>
                                </select> -->
                            </div>
                            <div class="col-md-12">
                                <div class="all_questions row" id="all_questions" >
                                    <div class="questions col-md-12" ng-repeat="link in links track by $index">
                                        <div >
                                            
                                                <a href="#" id="{{$index}}" ng-click="pushLinkmsg($index,link.questions);">
                                                    <span>&rarr;</span>
                                                    <!-- <ng-bind-html ng-bind-html = "link.questions" > -->
                                                        <span comp-translate="{{link.questions}}"></span>
                                                    <!-- </ng-bind-html> -->
                                                    <hr>
                                                </a>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 chatbody2 col-xs-8">
                        <div class="panel-body row"> 
                            <div class="row languagebar">
                                <div class="col-md-12">
                                    <select id="language_list" name="language_list"  ng-options="cat as cat.name for cat in languagelist" ng-init="selectedLanguage = selectedLanguage || 'en'" ng-model="selectedLanguage" class="col-md-3 pull-right"  required ng-change="changeLanguage(selectedLanguage);">
                                
                                    </select>
                                </div>
                            </div>
                            
                            <ul class="chat">
                                <li class="{{list.position}} lastchat clearfix animate_fade"   ng-repeat="list in chatlist track by $index">
                                    <span class="chat-img pull-{{list.position}}">
                                        <span ng-if="list.position == 'left'">
                                            <img ng-src="img/chanakya1.jpg" alt="ION" class="img-circle " />
                                        </span>
                                        <span ng-if="list.position == 'right'">
                                            <img ng-src="img/{{list.position == 'left' && 'logo5.jpg' || 'logo7.png'}}" alt="BOT" class="img-circle " />
                                        </span>
                                    </span>
                                    <div class="row" style="display:none !important;" ng-if="showMsgLoader && list.position==='left'">
                                            <div class="col-md-12">
                                                <!-- <img ng-src="img/chanakya1.jpg" alt="ION" class="img-circle " style="width: 30px;height: 30px;"/> -->
                                                <img src="img/bubble.gif" class="img-fluid bubbleload" >
                                            </div>
                                        </div>
                                    <div class="chat-body " ng-class="{'nobg':list.msg.type=='SYS_QUERY'  || list.msg.type=='SYS_MAIL' || list.msg.type=='SYS_CALL'}">
                                        <div class="clearfix" ng-if="list.position==='right'">
                                            <p class="lastmsg" >
                                                <!-- <ng-bind-html ng-bind-html = "list.msg">
                                                    {{list.msg}}
                                                </ng-bind-html> -->
                                                <span comp-translate="{{list.msg}}"></span>
                                            </p>
                                        </div>
                                        <div class=" clearfix" ng-if="list.position==='left' && list.msg.tiledlist ">
                                            <div class="sysChatRes"  ng-repeat="chatRes in list.msg.tiledlist">
                                                <div class="chatType" ng-if="list.msg.tiledlist[0].type==='text'">
                                                    <p class="lastmsg" ng-if="chatRes.Text.length < 400">
                                                        <!-- <ng-bind-html ng-bind-html = "chatRes.Text|newlines">
                                                            
                                                            {{chatRes.Text}}
                                                            
                                                        </ng-bind-html>  -->
                                                        <span class="cat_faq" comp-translater content="{{chatRes.Text}}"></span>
                                                        <!-- <myTranslate ng-if="chatRes.Text !=='' && chatRes.Text" comp-translate="{{chatRes.Text}}" >

                                                        </myTranslate>  -->
                                                    </p>
                                                    <p class="lastmsg" >
                                                        <span class="faqless" >
                                                            <!-- <span ng-bind-html = "chatRes.Text|newlines|limitTo:400" ng-if="chatRes.Text.length > 400">
                                                                
                                                                {{chatRes.Text}}
                                                            </span> -->
                                                            <span class="cat_faq" comp-translater content="{{chatRes.Text|limitTo:400}}" ng-if="chatRes.Text.length > 400"></span>
                                                            <span class="faqdot" ng-if="chatRes.Text.length > 400">...</span>
                                                            <span class="faqmore" ng-if="chatRes.Text.length > 400" style="display:none;">
                                                                <!-- <span ng-bind-html = "chatRes.Text|newlines|limitTo:400:400">
                                                                    
                                                                    {{chatRes.Text}}
                                                                    
                                                                </span> -->
                                                                <span class="cat_faq" comp-translater content="{{chatRes.Text|limitTo:400:400}}" ></span>
                                                            </span>
                                                        </span>
                                                        
                                                    </p>
                                                    
                                                    <div class="text-center" ng-if="chatRes.Text.length > 400">
                                                        <button type="button" class="btn btn-xs btn-info texttoggle" >View More</button>
                                                    </div>
                                                </div>
                                                <div class="chatType" ng-if="list.msg.tiledlist[0].type==='package details'">
                                                    <p class="lastmsg" >
                                                        <!-- <ng-bind-html ng-bind-html = "trustedHtml(list.msg.queslink)" ng-if="list.msg.queslink !=='' && list.msg.queslink" ng-show="list.msg.queslink !=''">
                                                            {{list.msg.queslink}}
                                                        </ng-bind-html> -->
                                                        <span comp-translater content="{{list.msg.queslink}}" ng-if="list.msg.queslink !=='' && list.msg.queslink" ng-show="list.msg.queslink !=''">

                                                        </span>
                                                    </p>
                                                </div>
                                                <div class="chatType" ng-if="list.msg.tiledlist[0].type==='FAQ'">
                                                    <p comp-translate="Please select an option:">:</p>
                                                    <ol class="quesList" >
                                                        <li ng-repeat="faqlist in chatRes.FAQ">
                                                        <div class="viewquesans">
                                                            <div class="faqques">
                                                                <p class="lastmsg" ><a href="#" data-category="{{faqlist.Category}}">
                                                                <!-- <span ng-bind-html = "faqlist.Questions|newlines" > -->
                                                                    <span comp-translate="{{faqlist.Questions}}"></span>
                                                                <!-- </span> -->
                                                                </a></p>
                                                            </div>
                                                            <div class="faqans" style="display:none;">
                                                                <p class="lastmsg" >
                                                                <span comp-translater content="{{faqlist.Answers}}">

                                                                </span>
                                                                <!-- <ng-bind-html ng-bind-html = "faqlist.Answers|newlines" >
                                                                    {{faqlist.Answers}}
                                                                </ng-bind-html>  -->
                                                                    <!-- <span comp-translate="{{faqlist.Answers|newlines}}"></span> -->
                                                                </p>
                                                            </div>
                                                        </div>
                                                        </li>
                                                    </ol>
                                                </div>
                                                <div class="chatType" ng-if="list.msg.tiledlist[0].type==='DTHyperlink'">
                                                    
                                                    <!-- <ng-bind-html class="linkimg" ng-if="chatRes.Text != ''" ng-bind-html="trustedHtml(chatRes.Text);">
                                                        <p class="lastmsg" >
                                                            {{chatRes.Text}}     
                                                        </p>
                                                    </ng-bind-html>  -->
                                                    <!-- <p class="linkimg" ng-if="chatRes.Text != ''" ng-bind-html="trustedHtml(chatRes.Text);">
                                                        <span comp-translate="{{chatRes.Text}}"></span>
                                                    </p> -->
                                                    <myTranslate ng-if="chatRes.Text != ''"  comp-translate="{{chatRes.Text}}" class="linkimg">

                                                    </myTranslate>
                                                    <!-- <p class="lastmsg">
                                                        
                                                    </p> -->
                                                    <!-- <div class="dthyperlink lastmsg" ng-repeat="dthlink in chatRes.DTHyperlink" data-id="{{dthlink}}" data-url-id="innerLink" data-line="{{chatRes.line_no[$index]}}" data-col="{{chatRes.col_no[$index]}}" ng-click="getDthlinkRes(chatRes.col_no[$index],chatRes.line_no[$index],dthlink);">
                                                        {{dthlink}}
                                                    </div> -->
                                                    <div class="dthyperlink lastmsg changedthbg stage{{chatRes.bgstage}}" ng-repeat="dthlink in chatRes.DT" data-id="{{dthlink}}" data-url-id="innerLink" data-stage="{{chatRes.Stage}}" data-bgstage="{{chatRes.bgstage}}" ng-if="chatRes.DT.length > 0" data-index="{{$index}}"  ng-click="getDthlinkRes(chatRes.Stage,dthlink,chatRes.Journey_Name);" >
                                                        <span comp-translate="{{dthlink}}"></span>
                                                    </div>
                                                </div>
                                                <!--<div class="chatType" ng-if="list.msg.tiledlist[0].type==='rate card'">
                                                    <p class="lastmsg" >
                                                        <ng-bind-html >
                                                            <label for="col_val_[chatRes.col_name]">{{chatRes.col_name}} : </label>
                                                            <select ng-attr-id="{{'col_val_'+rate_count}}" ng-model="r[rate_count].ratecard_col_select" ng-options="coldata for coldata in chatRes.data_col" class="form-control">
                                                                
                                                            </select>
                                                            <br>
                                                            <label for="lcol_val_[chatRes.row_name]">{{chatRes.row_name}} : </label>
                                                            <select ng-attr-id="{{'data_val_'+rate_count}}" ng-model="r[rate_count].ratecard_data_select" ng-options="rowdata for rowdata in chatRes.data_row" class="form-control">
                                                                
                                                            </select>
                                                            <br>
                                                            <input class='rate_btn btn btn-default pull-right' id='rate_btn' type='button' value='Get Limit' ng-click="ratecardSubmit(r[rate_count].ratecard_col_select,r[rate_count].ratecard_data_select);" />
                                                        </ng-bind-html>
                                                        
                                                    </p>
                                                </div>
                                                <div class="chatType" ng-if="list.msg.tiledlist[0].type==='DTHyperlink'">
                                                    
                                                    <ng-bind-html ng-if="chatRes.Text != ''" ng-bind-html="chatRes.Text|newlines">
                                                        <p class="lastmsg" >
                                                            {{chatRes.Text}}     
                                                        </p>
                                                    </ng-bind-html>
                                                    
                                                    </p>
                                                    <div class="dthyperlink lastmsg" ng-repeat="dthlink in chatRes.DTHyperlink" data-id="{{dthlink}}" data-url-id="innerLink" data-line="{{chatRes.line_no[$index]}}" data-col="{{chatRes.col_no[$index]}}" ng-click="getDthlinkRes(chatRes.col_no[$index],chatRes.line_no[$index],dthlink);">
                                                        {{dthlink}}
                                                    </div>
                                                </div>
                                                <div class="chatType" ng-if="list.msg.tiledlist[0].type==='Instruction'">
                                            
                                                                                                        
                                                    <div class='carousel slide' id='myCarousel'>
                                                        <div class='carousel-inner'>
                                                            <div class='item carousel_item' ng-class="{active:!$index}" ng-repeat="imglist in chatRes.imagelist track by $index" ng-if="$index % 3 == 0">
                                                                <div class="col-xs-4" >
                                                                    <div class="img-box">
                                                                        <a ng-href="{{chatRes.imagelist[$index].Image}}"  data-fancybox="group" rel="gallary" fancybox >
                                                                            <img ng-src="{{chatRes.imagelist[$index].Image}}" class="img-full">
                                                                        </a>
                                                                    </div>
                                                                    <div class="text-box" ng-if="chatRes.imagelist[$index].Text!='Text'">
                                                                        <span>
                                                                            <ng-bind-html  ng-bind-html="chatRes.imagelist[$index].Text|newlines">
                                                                                {{chatRes.imagelist[$index].Text}}
                                                                            </ng-bind-html>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-4" ng-if="chatRes.imagelist[$index+1] != null">
                                                                    <div class="img-box">
                                                                        <a ng-href="{{chatRes.imagelist[$index+1].Image}}"  data-fancybox="group" rel="gallary" fancybox >
                                                                            <img ng-src="{{chatRes.imagelist[$index+1].Image}}" class="img-full">
                                                                        </a>
                                                                    </div>
                                                                    <div class="text-box" ng-if="chatRes.imagelist[$index+1].Text!='Text'">
                                                                        <span>
                                                                            <ng-bind-html  ng-bind-html="chatRes.imagelist[$index+1].Text|newlines">
                                                                                {{chatRes.imagelist[$index+1].Text}}
                                                                            </ng-bind-html>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-4" ng-if="chatRes.imagelist[$index+1] != null">
                                                                    <div class="img-box">
                                                                        <a ng-href="{{chatRes.imagelist[$index+2].Image}}"  data-fancybox="group" rel="gallary" fancybox >
                                                                            <img ng-src="{{chatRes.imagelist[$index+2].Image}}" class="img-full">
                                                                        </a>
                                                                    </div>
                                                                    <div class="text-box" ng-if="chatRes.imagelist[$index+2].Text!='Text'">
                                                                        <span>
                                                                            <ng-bind-html  ng-bind-html="chatRes.imagelist[$index+2].Text|newlines">
                                                                                {{chatRes.imagelist[$index+2].Text}}
                                                                            </ng-bind-html>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a class='left carousel-control' href='#myCarousel' data-slide='prev'><i class='glyphicon glyphicon-chevron-left'></i></a>
                                                        <a class='right carousel-control' href='#myCarousel' data-slide='next'><i class='glyphicon glyphicon-chevron-right'></i></a>
                                                    </div>
                                                </div> -->
                                            </div>
                                        </div>
                                        <div class="chatType" ng-if="list.msg.type==='cat_faq'">
                                            <p class="lastmsg" >
                                                
                                                 <ng-bind-html ng-bind-html = "list.msg.queslink" ng-if="list.msg.queslink !=='' && list.msg.queslink" ng-show="list.msg.queslink !=''"> 
                                                    {{list.msg.queslink}}
                                                </ng-bind-html>     
                                                 <!-- <span class="cat_faq" comp-translater content="{{list.msg.queslink}}" ng-if="list.msg.queslink !=='' && list.msg.queslink" ng-show="list.msg.queslink !=''">

                                                </span>  -->
                                                 <!-- <span content="{{list.msg.queslink}}" ng-if="list.msg.queslink !=='' && list.msg.queslink" ng-show="list.msg.queslink !=''">
                                                    {{list.msg.queslink}}
                                                </span>  -->
                                                <!-- <myTranslate ng-if="list.msg.queslink !=='' && list.msg.queslink" ng-show="list.msg.queslink !=''" comp-translate="{{list.msg.queslink}}" class="cat_faq">

                                                </myTranslate> -->
                                            </p>
                                        </div>
                                        <div class="chatType" ng-if="list.msg.type==='cat_faqlink'">
                                            <p class="lastmsg" >
                                                
                                                <!-- <ng-bind-html ng-bind-html = "list.msg.queslink" ng-if="list.msg.queslink !=='' && list.msg.queslink" ng-show="list.msg.queslink !=''"> 
                                                    {{list.msg.queslink}}
                                                </ng-bind-html>       -->
                                                <span class="cat_faq" comp-translater content="{{list.msg.queslink}}" ng-if="list.msg.queslink !=='' && list.msg.queslink" ng-show="list.msg.queslink !=''">

                                                </span>  
                                                 <!-- <span content="{{list.msg.queslink}}" ng-if="list.msg.queslink !=='' && list.msg.queslink" ng-show="list.msg.queslink !=''">
                                                    {{list.msg.queslink}}
                                                </span>  -->
                                                
                                                <!-- <span comp-translater content="{{list.msg.queslink}}" ng-if="list.msg.queslink !=='' && list.msg.queslink" ng-show="list.msg.queslink !=''" class="cat_faq">

                                                </span> -->
                                            </p>
                                        </div>
                                        <div class=" clearfix" ng-if="(list.position==='left' &&  (list.msg.type==='SYS_INACTIVE' || list.msg.type==='SYS_FIRST' || list.msg.type === 'SYS_EMPTY_RES'))">
                                            <p class="lastmsg" >
                                                <!-- <ng-bind-html ng-bind-html = "list.msg.Text"> -->
                                                    <span comp-translate="{{list.msg.Text}}"></span>
                                                <!-- </ng-bind-html> -->
                                            </p>
                                        </div>
                                        
                                        <div class=" clearfix" ng-if="(list.position==='left' &&  (list.msg.type === 'SYS_AUTO'))">
                                            <p class="lastmsg" >
                                                <ng-bind-html ng-bind-html = "list.msg.Text"> 
                                                    <span comp-translate="{{list.msg.Text}}"></span>
                                                </ng-bind-html> 
                                            </p>
                                        </div>
                                        <div class=" clearfix" ng-if="(list.position==='left' &&  (list.msg.type === 'SYS_QUERY'))">
                                            <div class="conversations_btn">
                                                <div class="conversation-entry-bot__caption">
                                                    Please choose any of the following
                                                </div>
                                                <ul class="querybtns">
                                                    <li><button type="button" class="btn q_btn" ng-click="getProcessTree('Frequent_Disconnection');"><span comp-translate="Frequent Disconnection"></span></button></li>
                                                    <li><button type="button" class="btn q_btn" ng-click="getProcessTree('slow_browsing');"><span comp-translate="Slow Browsing"></span></button></li>
                                                    <li><button type="button" class="btn q_btn" ng-click="getProcessTree('connectivity_problem');"><span comp-translate="Connectivity Problem"></span></button></li>
                                                    <li><button type="button" class="btn q_btn" ng-click="getProcessTree('Ping_Issue');"><span comp-translate="Ping Issues"></span></button></li>
                                                    <li><button type="button" class="btn q_btn"ng-click="getProcessTree('DVois_Hardware_Issue');"><span comp-translate="Hardware"></span></button></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class=" clearfix" ng-if="(list.position==='left' &&  (list.msg.type === 'SYS_MAIL'))">
                                            <div class="conversations_btn">
                                                <div class="conversation-entry-bot__caption">
                                                    Please Select:
                                                </div>
                                                <ul class="querybtns">
                                                    <li><button type="button" class="btn q_btn" ng-click="getmaillink('mah');">For Maharashtra</button></li>
                                                    <li><button type="button" class="btn q_btn" ng-click="getmaillink('other');">For Other</button></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class=" clearfix" ng-if="(list.position==='left' &&  (list.msg.type === 'SYS_CALL'))">
                                            <div class="conversations_btn">
                                                <div class="conversation-entry-bot__caption">
                                                    Please Select:
                                                </div>
                                                <ul class="querybtns">
                                                    <li><button type="button" class="btn q_btn" ng-click="getcallink('mah');">For Maharashtra</button></li>
                                                    <li><button type="button" class="btn q_btn" ng-click="getcallink('other');">For Other</button></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <p class="lastmsg">
                                            <small class="chatTime">
                                                <span class="glyphicon glyphicon-time">
                                                </span>
                                                {{list.curTime | date: 'HH:mm:ss'}}
                                            </small>
                                        </p>
                                    </div>
                                </li>    
                            </ul>
                            <div class="loader" ng-show="showMsgLoader">
                                <img src="img/loading_dots.gif" class="img-responsive">
                            </div>
                        </div>
                        <div class="process_buttons row">
                            <div class="process_btngroup col-md-12">
                                <div class="btn-group">
                                     <button type="button" class="btn btn-default processbtn dropdown-toggle" ng-click="showQuerybtn();">
                                        <span comp-translate="Technical Queries"></span>
                                    </button> 
                                    <!-- <ul class="querybtns">
                                        <li><button type="button" class="btn btn-xs processbtn " ng-click="getProcessTree('Frequent_Disconnection');">Frequent Disconnection</button></li>
                                        <li><button type="button" class="btn btn-xs processbtn " ng-click="getProcessTree('slow_browsing');">Slow Browsing</button></li>
                                        <li><button type="button" class="btn btn-xs processbtn " ng-click="getProcessTree('connectivity_problem');">Connectivity Problem</button></li>
                                        <li><button type="button" class="btn btn-xs processbtn " ng-click="getProcessTree('Ping_Issue');">Ping Issues</button></li>
                                        <li><button type="button" class="btn btn-xs processbtn "ng-click="getProcessTree('DVois_Hardware_Issue');">Hardware</button></li>
                                    </ul> -->
                                    <!-- <ul class="dropdown-menu">
                                        <li><a href="#" ng-click="getProcessTree('Frequent_Disconnection');">Frequent Disconnection</a></li>
                                        <li><a href="#" ng-click="getProcessTree('Slow_Browsing');">Slow Browsing</a></li>
                                        <li><a href="#" ng-click="getProcessTree('Connectivity_Problem');">Connectivity Problem</a></li>
                                        <li><a href="#" ng-click="getProcessTree('Ping_Issues');">Ping Issues</a></li>
                                        <li><a href="#" ng-click="getProcessTree('Hardware');">Hardware</a></li>
                                     </ul>  -->
                                </div>  
                                
                            </div>
                        </div>
                        <div class="panel-footer row">
                            <div class="form-group">
                                <div  class="thumbsIcon col-md-8 pull-right">
                                    <div class="row">
                                        <span class="chatbottomtext pull-right">Was this information useful ? 
                                            <span class="thumbsup glyphicon glyphicon-thumbs-up" ng-click="likeChatClick();"></span>&nbsp; 
                                            <span class="thumbsdown glyphicon glyphicon-thumbs-down" ng-click="dislikeChatClick();"></span>
                                        </span>
                                    </div>
                                </div>
                            
                                <div class="loader_msg col-md-4" ng-if="showMsgLoader">
                                    <div class="row">
                                        <div class="loading">Typing</div>
                                    </div>
                                </div>
                                <div class="input-group chatinputgroup">
                                    <input type="text" class="form-control chatinput"  ng-change="getAutocomplete(chatText);" ng-model="chatText" id="userMsg" placeholder="Type your message here..." autofocus  typeahead="list for list in autocompletelist" ng-keyup="onKeyUp($event)" x-webkit-speech autocomplete="off" />
                                    <span class="input-group-btn chatbtngroup">
                                        <button class="btn btn-default chatgo" type="button" ng-click="pushMsg(0,chatText);"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                                    </span>
                                </div><!-- /input-group -->
                                    <!-- <p class="footertext">Powered By
                                        <a href="http://www.cingulariti.com/" target="_blank" class='cingularititext'><span > Cingulariti</span></a>
                                    </p> -->
                            </div>
                                <!--<input type="hidden"  name="user_id" id="user_id"  value="{{sessionId}}" />-->
                                <div id="autocomplete_field"></div>
                                <div id="field_val"></div>
                                <div id="field_id"></div>
                            </div>
                            <!--<a id="mybtn_trigger" class="hidden" ng-click="Speaktext(text);">Speakme</a>-->
                            <div id= "suggestionList">
                                <ul ng-if="autocompletelist.length > 0" class="{{autocompletelist.length}}  ui-menu ui-widget ui-widget-content ui-autocomplete ui-front" id="ui-id-1">
                                    <div class="ui-menu-item-wrapper">
                                        <li class="ui-menu-item autolist" data-id="{{list._id}}" data-value="{{list.questions}}" data-answers="{{list.answers}}" data-category="{{list.category}}" data-link="{{list.link}}"  ng-repeat="list in autocompletelist" ng-click="pushAutoMsg(list._id,list.questions,list.answers,list.category,list.link);"   >
                                            <myfilter filter-Translate="{{list.questions}}"></myfilter>
                                        </li>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div id="chatImage" ng-if="validDomain">
        <img class="clickImage img-circle" src="img/logo.jpg" ng-click="showChatwindow();">
    </div> -->